.food-item {
  width: 100%;
  height: 350px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
}
.food-item-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; /* Tạo khoảng cách giữa các phần tử bên trong */
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  margin-bottom: 10px;
}
.food-item-name-rating .food-item-name {
  max-width: fit-content;
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.food-item-name-rating .rate-star {
  min-width: 100px;
  font-size: 12px;
}

.food-item-desc {
  color: #676767;
  font-size: 12px;
  flex: 1;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food-item-img-container {
  position: relative;
}
.food-item-img-container .add {
  position: absolute;
  width: 35px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.food-item-counter {
  width: fit-content;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 6px;
  background-color: white;
  border-radius: 20px;
}
.food-item-counter p {
  margin: 0px 2px;
}
.food-item-counter .remove-icon,
.plus-icon {
  font-size: 20px;
}
