.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid tomato;
  padding: 20px;
  margin: 30px 0px;
  font-size: 14px;
  color: #505050;
}
.order-item img {
  width: 50px;
  height: auto;
}

.order-date {
  color: #949191;
  font-size: 12px;
  margin-top: 10px;
}
.order-item-food,
.order-item-name {
  font-weight: 600;
}
.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}
.order-item-address {
  margin-bottom: 10px;
}
.order-item-select {
  font-weight: 600;
  background-color: #ffe8e4;
  border: 1px solid tomato;
  border-radius: 10px;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
  color: #f1663e;
}

.option-delivery {
  color: blue;
  border: 1px solid rgb(80, 140, 196);
  background-color: rgb(215, 233, 238);
}

.option-delivered {
  color: green;
  border: 1px solid rgba(130, 199, 130, 0.992);
  background-color: rgb(199, 238, 199);
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }
  .order-item-select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 40px;
  }
}
