.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 60px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.logo2 {
  width: 120px;
  height: auto;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: white;
}

.footer-social-icons {
  font-size: 40px;
  display: flex;
  gap: 20px;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}
