.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 4%;
}
.navbar .logo {
  width: max(10%, 50px);
}
.navbar .admin-panel {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -10px;
}
.navbar .profile {
  width: 40px;
  margin-right: 0%;
}
